body {
	font-family: Arial;
	background-color: /*#3498DB*/ white;
}

.lelien {
	color: black;
	text-decoration: none;
	font-weight: 800;
}

.lelienv2 {
	color: black;
	text-decoration: none;
}

.fa-links {
	margin-left: 10px;
	font-size: 15px;
	color: orange;
	-webkit-transition:-webkit-transform .9s; // Chrome Safari
  -moz-transition:-moz-transform .9s;       // Mozilla
  -o-transition:-o-transform .9s;           // Opéra
  -ms-transition:-ms-transform .9s;         // IE
  transition:transform .9s;
}

.fa-links:hover {
	-webkit-transform:rotate(360deg); 
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg); 
  -ms-transform:rotate(360deg); 
  transform:rotate(360deg);
}

.fa-mobile {
	margin-right: 10px;
	font-size: 25px;
	color: green;
	position: relative;
	top: 3px;
	-webkit-transition:-webkit-transform .9s; // Chrome Safari
  -moz-transition:-moz-transform .9s;       // Mozilla
  -o-transition:-o-transform .9s;           // Opéra
  -ms-transition:-ms-transform .9s;         // IE
  transition:transform .9s;
}

.fa-mobile:hover {
	-webkit-transform:rotate(360deg); 
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg); 
  -ms-transform:rotate(360deg); 
  transform:rotate(360deg);
}

.fa-linkedin-square {
	color: #0077b5;
	font-size: 25px;
	margin-right: 10px;
	position: relative;
	top: 3px;
	margin-left: -15px;
}

.fa-coffee {
	color: brown;
	font-size: 25px;
	margin-right: 10px;
	position: relative;
	top: 3px;
	margin-left: -22px;
}

.tdr {
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #444;
	color: white;
	position: absolute;
	padding: 10px;
}

@media all and (min-width: 243px) and (max-width: 245px) {
	/*huawei*/
	i {
		font-size: 15px;
	}
}

@media all and (min-width: 359px) and (max-width: 361px) {
	/*samsung s6*/
	i {
		font-size: 22px;
	}
	p {
		font-size: 24px;
	}
	#legrospadding {
		height: 150px!important;
	}
}

@media all and (min-width: 374px) and (max-width: 376px) {
	/*iphone 7*/
	i {
		font-size: 22px;
	}
	p {
		font-size: 24px;
	}
	#legrospadding {
		height: 175px!important;
	}
}

@media all and (min-width: 539px) and (max-width: 541px) {
	/*crosscall*/
	i {
		font-size: 33px;
	}
	p {
		font-size: 34px;
	}
	#legrospadding {
		height: 250px!important;
	}
}