* {
	list-style: none;
}

body {
	background-color: #f3f2f6;
}

.aff1 {
	background-color: #fff!important;
}

.aff2 {
	background-color: #4cb74c!important;
}

.aff3 {
	background-color: #eee!important;
}

.affichage {
	background-color: white;
	margin: 10px 10px;
	padding: 10px;
	border-radius: 6px;
	box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
}

.affichage>a {
	text-decoration: none;
	color: black;
}

.affichage>a:nth-child(1) {
	/*background-color: rgba(255,0,0,1);*/
	padding-bottom: 24px;
	z-index: 2;
	position: relative;
}

.affichage-container {
	padding: 0;
	margin: 0 auto;
	font-weight: 200;
}

.modif_icon {
	color: #d5d5d7;
}

.titlearticle {
	margin-right: 10px;
}

.fa-pencil {
	margin-right: 5px;
}

.fa-pencil:hover {
	color: green;
}

.fa-trash-o:hover{
	color: red;
}

.lospesos {
	margin-right: 10px;
	position: relative;
	z-index: 1;
	/*background-color: rgba(0,255,0,1);*/
}

.coinpng {
	width: 20px;
    position: relative;
    top: 2px;
    margin-left: 3px;
}
/*
@media screen and (min-width: 380px) {
	.affichage {
		margin: 10px auto;
		margin-left: calc((100% - 375px) / 2);
		max-width: 375px;
	}
}
*/

@media all and (min-width: 539px) and (max-width: 541px) {
	/*crosscall*/
	.affichage {
		margin: 12px auto;
		margin-left: calc((100% - 480px) / 2);
		max-width: 480px;
	}
	.titlearticle, .boutonmodif, .boutonsuppr, .lospesos {
		font-size: 29px;
	}
	.coinpng {
		width: 29px;
		margin-left: 14px;
	}
}