/*
@font-face {
  font-family: "Trade Gothic LT Std";
  src: url("/fonts/TradeGothicLTStd.otf");
}

@font-face {
  font-family: "Trade Gothic LT Std Bold";
  src: url("/fonts/TradeGothicLTStd-Bold.otf");
}
*/

antibody {
    font-family: "Trade Gothic LT Std", sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Trade Gothic LT Std Bold", sans-serif;
}

.centerholder {
	text-align: center;
}

.faperso1, .faperso2 {
	text-decoration: none;
}

.faperso1 {
	color: green;
}

.faperso2 {
	color: orange;
}

.fapadd {
	padding-right: 10px;
}

.ideaenvoi {
	margin-top: 10px;
	-moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background-color:#2dabf9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.ideaenvoi:hover {
	background-color:#0688fa;
}
.ideaenvoi:active {
	position:relative;
	top:1px;
}

/*CENTRE UNIQUEMENT LE PLACEHOLDER_START*/
::-webkit-input-placeholder {
   text-align: center;
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center; 
   font-style: italic; 
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
   font-style: italic;  
}

:-ms-input-placeholder {  
   text-align: center; 
   font-style: italic;
}
/*CENTRE UNIQUEMENT LE PLACEHOLDER_END*/

.inepoute {
	background-color: #ECF0F1;
	border: 2px solid transparent;
	border-radius: 3px;
	font-size: 16px;
	font-weight: 200;
	padding-top: 10px 0;
	width: 250px;
	transition: border .5s;
}

.inepoute:focus {
	border: 2px solid transparent;
	border-shadow: none;
}

form {
	margin-bottom: 0 !important;
}

.comm_dons:nth-child(1) {
	margin-top: 20px;
}

.comm_dons {
	list-style: none;
	padding: 0;
	margin: 10px;
	margin-top: 10px;
}

.padon {
	background-color: #CCC;
	vertical-align: baseline;
	line-height: 1.3;
	padding-bottom: 15px;
}

.mycomm {
	margin-left: 56px;
	padding-right: 5px;
}

.don {
	vertical-align: baseline;
	padding-bottom: 11px;
	padding-top: 3px;
}

.comm_donation {
	margin-top: -13px;
	padding-left: 55px;
	padding-right: 5px;
}

.don, .padon {
	text-align: left;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 5px;
	margin: 0 5px;
}

.icon-comment {
	width: 40px;
	height: auto;
	position: relative;
	top: 6px;
	padding-right: 10px;
	margin-left: 10px;
}

.icon-donation {
	width: 40px;
	height: auto;
	position: relative;
	top: 8px;
	padding-right: 10px;
	margin-left: 10px;
}

.don-fond {
	color: white;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	background: #f1c40f;
	border: 0;
	border-bottom: 2px solid #e2b607;
	-webkit-box-shadow: inset 0 -2px #e2b607;
	box-shadow: inset 0 -2px #e2b607;
}

.padon-fond {
	color: white;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	background: #b8bdc0;
	border: 0;
	border-bottom: 2px solid #a5aaac;
	-webkit-box-shadow: inset 0 -2px #a5aaac;
	box-shadow: inset 0 -2px #a5aaac;
}

.pseudalink {
	text-decoration: none;
	color: white;
}

@media all and (min-width: 539px) and (max-width: 541px) {
	/*crosscall*/
	body {
		font-size: 25px;
	}
	.inepoute {
		font-size: 23px;
		width: 65%;
	}
	.ideaenvoi {
		margin-top: 20px;
		transform: scale(1.3);
	}
}

@media all and (min-width: 243px) and (max-width: 245px) {
	/*huawei*/
	.inepoute {
		width: 90%;
	}
}

