.inepoute {
	margin-bottom: 7.5px;
	background-color: #ECF0F1;
	border: 2px solid transparent;
	border-radius: 3px;
	font-size: 16px;
	font-weight: 200;
	padding: 5px 0;
	width: 250px;
	transition: border .5s;
}

form {
	text-align: center;
}

#loggin-btn {
	border: 2px solid transparent;
	background: #3498DB;
	color: #FFF;
	font-size: 16px;
	line-height: 25px;
	padding: 10px 0;
	text-decoration: none;
	text-shadow: none;
	border-radius: 3px;
	box-shadow: none;
	transition: 0.25s;
	display: block;
	width: 250px;
	margin: 0 auto;
	margin-top: 20px;
}

#loggin-btn:hover {
	background-color: #2980B9;
}

.under-h2 {
	margin-top: 30px;
}

/*bouton d'upload d'images_start*/
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  font-size: 1.6em;
  padding: 0.1em 1em;
  background-color: transparent;
  border: 3px solid #09c;
  color: #09c;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.file-upload {
  overflow: hidden;
  position: relative;
}
.file-upload > input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.file-upload > input[type=file]:hover ~ button {
  background-color: #09c;
  color: #eee;
  outline: none;
}
.file-upload .file-info {
  display: block;
  clear: both;
  margin-top: 0.6em;
  color: #999;
}
/*bouton d'upload d'images_end*/

@media all and (min-width: 243px) and (max-width: 245px) {
  /*huawei*/
  .inepoute {
    width: 80%;
    font-size: 10px;
    margin-bottom: 0;
  }
  .file-upload {
    font-size: 10px;
  }
  #loggin-btn {
    transform: scale(0.8);
    overflow: hidden;
  }
  form {
    margin-bottom: 0;
  }
}

@media all and (min-width: 539px) and (max-width: 541px) {
  /*crosscall*/
  .inepoute {
    width: 80%;
    font-size: 30px;
  }
  h2 {
    font-size: 40px;
  }
  .file-upload {
    font-size: 30px;
  }
  #loggin-btn {
    transform: scale(1.6);
    margin-top: 40px;
  }
}