* {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

body {
	/*height: 100vh;*/
	width: 100%;
	margin: 0;
	font-family: Arial;
	/*background-color: #3498DB;*/
	background: #3a7bd5 ;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #3a6073 , #3a7bd5 );  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #3a6073 , #3a7bd5 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login {
	margin: 20px auto;
	width: 300px;
}

.login-screen {
	margin-top: 50px;
	background-color: #FFF;
	padding: 20px;
	border-radius: 5px;
}

.lostpass-screen {
	margin: 75px 0;
	background-color: #FFF;
	padding: 20px;
	border-radius: 5px;
}

.inscri-screen {
	margin: 22px 0;
	background-color: #FFF;
	padding: 20px;
	border-radius: 5px;
}

.inepoute {
	margin-bottom: 7.5px;
	background-color: #ECF0F1;
	border: 2px solid transparent;
	border-radius: 3px;
	font-size: 16px;
	font-weight: 200;
	padding-top: 10px 0;
	width: 250px;
	transition: border .5s;
}

.inepoute:focus {
	border: 2px solid transparent;
	border-shadow: none;
}

#loggin-btn {
	border: 2px solid transparent;
	background: #3498DB;
	color: #FFF;
	font-size: 16px;
	line-height: 25px;
	padding-top: 10px 0;
	text-decoration: none;
	text-shadow: none;
	border-radius: 3px;
	box-shadow: none;
	transition: 0.25s;
	display: block;
	width: 250px;
	margin-top: 0 auto;
}

#loggin-btn:hover {
	background-color: #2980B9;
}

.login-link {
	font-size: 12px;
	color: #444;
	display: block;
	margin-top: 12px;
}

.centerholder {
	text-align: center;
}



/*PAGE D'INSCRIPTION*/
#inscriptionform input {
		margin-bottom: 25px;
}

/*PAGE DE CONNEXION*/
#connexiontitle {
	margin-top: 20px;
}

.formconnexion>input {
	margin-bottom: 10px;
}
.boutonlambda {
		text-decoration: none;
		color: black;
		text-transform: UPPERCASE;
}

@media all and (min-width: 243px) and (max-width: 245px) {
	/*huawei*/
	.login {
		transform: scale(0.7);
		position: absolute;
		top: -20%;
		left: -12%;
	}
}

@media all and (min-width: 359px) and (max-width: 361px) {
	/*samsung s6*/
	.login {
		margin-top: 75px;
	}
}

@media all and (min-width: 374px) and (max-width: 376px) {
	/*iphone 7*/
	.login {
		margin-top: 82px;
	}
}

@media all and (min-width: 539px) and (max-width: 541px) {
	/*crosscall*/
	.login {
		transform: scale(1.6);
		margin-top: 230px;
	}
}