/*   @font-face {
      font-family: "Trade Gothic LT Std";
      src: url("/fonts/TradeGothicLTStd.otf");
    }

   @font-face {
      font-family: "Trade Gothic LT Std Bold";
      src: url("/tests/fonts/TradeGothicLTStd-Bold.otf");
    }
*/

    body {
        font-family: "Trade Gothic LT Std", sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: "Trade Gothic LT Std Bold", sans-serif;
    }

    header {
        position: relative;
        padding-bottom: 65px;
        /*background: rgba(0,0,0,.20);*/
        background: #3a7bd5 ;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #3a7bd5 , #3a6073 );  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #3a7bd5 , #3a6073 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .main-menu {
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        z-index: 9999;
    }

    .fond-menu {
        position: fixed;
        left: -100%;
        top: 0;
        z-index: 9998;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, .75);
}

    .main-menu ul {
        margin-top: 20vh !important;
        padding: 50px 0 0;
        list-style: none;
        justify-content: center;
        width: 234px;
        margin: 0 auto;
    }

    .main-menu a {
        text-decoration: none;
        font-size: 24px;
        color: white;
        display: block;
        text-align: left !important;
        padding: 10px 0;
    }

    .burger {
        font-size: 45px !important;
        line-height: 45px;
        color: white;
        width: 48px;
        height: 48px;
        padding: 4px 0;
        text-align: center;
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 99999;
        cursor: pointer; 
        transition: left 0.6s ease;  
    }
    .burger.active {
        left: 83%;
        top: 2px;
        color: #476579;
        transition: left .5s ease-in;
    }

    .fa-arrow-left {
        position: absolute;
        text-decoration: none;
        color: white;
        font-size: 45px;
        z-index: 99999;
        top: 10px;
        left: 5px;
    }

    #infouserontop {
        color: transparent;
        font-size: 35px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        font-family: "Trade Gothic LT Std Bold", sans-serif;
        top: 15px;
        user-select: none;
    }

    #thunes {
        text-align: right;
        color: white;
        font-size: 20px;
        text-align: right;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        font-family: "Trade Gothic LT Std", sans-serif;
        top: 22px;
        right: 20px;
        line-height: 10px
    }

    #coin_png {
        width: 20px;
        position: relative;
        top: 2px;
        margin-left: 3px;
    }

    .ic-menu {
        margin-right: 5px;
    }
    
    #ic1 {
        padding-right: 2.5px !important;
        padding-left: 2.5px !important;
    }








@media screen and (min-width: 321px) {
    @font-face {
      font-family: "Trade Gothic LT Std";
      src: url("/fonts/TradeGothicLTStd.otf");
    }

    @font-face {
      font-family: "Trade Gothic LT Std Bold";
      src: url("/fonts/TradeGothicLTStd-Bold.otf");
    }

    body {
        font-family: "Trade Gothic LT Std", sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: "Trade Gothic LT Std Bold", sans-serif;
    }

    .main-menu {
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        z-index: 9999;
    }

    .fond-menu {
        position: fixed;
        left: -100%;
        top: 0;
        z-index: 9998;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, .75);
    }

    .main-menu ul {
        margin-top: 20vh !important;
        padding: 50px 0 0;
        list-style: none;
        justify-content: center;
    }

    .main-menu a {
        text-decoration: none;
        font-size: 24px;
        color: white;
        display: block;
        text-align: center;
        padding: 10px 0;
    }

    .burger {
        font-size: 45px !important;
        line-height: 45px;
        color: white;
        width: 48px;
        height: 48px;
        padding: 4px 0;
        text-align: center;
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 99999;
        cursor: pointer; 
        transition: left 0.6s ease;  
    }
    .burger.active {
        right: 10px;
        color: #476579;
        transition: left .6s ease;
    }

    .fa-arrow-left {
        position: absolute;
        text-decoration: none;
        color: white;
        font-size: 45px;
        z-index: 99999;
        top: 10px;
        left: 5px;
    }

    #infouserontop {
        color: white;
        font-size: 35px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        font-family: "Trade Gothic LT Std Bold", sans-serif;
        top: 15px;
    }

    #thunes {
        text-align: right;
        color: white;
        font-size: 20px;
        text-align: right;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        font-family: "Trade Gothic LT Std", sans-serif;
        top: 22px;
        right: 20px;
        line-height: 10px
    }

    #coin_png {
        width: 20px;
        position: relative;
        top: 2px;
        margin-left: 3px;
    }
}

@media all and (min-width: 243px) and (max-width: 245px) {
    /*huawei*/
    h2 {
        transform: scale(0.9);
    }
    .main-menu a {
        font-size: 16px;
    }
    .main-menu ul {
        padding-left: 15%;
    }
    #imgburgermenu {
        width: 66px !important;
    }
}

@media all and (min-width: 539px) and (max-width: 960px) {
    /*crosscall*/
    #thunes {
        transform: scale(1.65);
        right: 200px;
        top: 35px;
    }
    .burger {
        transform: scale(1.2);
        top: 22px;
        left: 30px;
    }
    header {
        padding-bottom: 100px;
    }
    header>h2 {
        padding-bottom: 10px;
    }
    .main-menu {
        font-size: 30px;
    }
    #imgburgermenu {
        width: 125px!important;
    }
    .textburgermenu>ul>li>a {
    font-size: 42px;
    width: 100%;
    padding-bottom: 37px;
    margin: 0 auto;
    }
    .textburgermenu>ul {
        width: 100%;
        padding-left: 13%;
    }
    .burger.active {
        top: 22px;
    }
    .ic-menu {
        margin-right: 15px;
    }
}