html {
	background: #8e9eab;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	min-height: 100vh;
	color: #34495e;
}

a {
	display: block;
	font-size: 25px;
	font-family: sans-serif;
	text-decoration: none;
	padding: 10px 0;
	color: #34495e;
}

h3 {
	font-family: sans-serif;
	text-align: center;
	text-decoration: underline;
	margin-bottom: 75px;
}

.blocked-container {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	background-color: #34495e;
	text-align: center;
	padding-top: 30vh;

}
#subscribe, .fa-star {
	color: #f1c40f;
}

.msg {
	font-size: 25px;
	font-family: sans-serif;
	padding:0 10px;
	padding-top: 0;
	padding-bottom: 90px;
	margin-top: -45px;
}

.fatoufe {
	font-size: 20px;
	position: relative;
	padding-right: 10px;
	top: -1.5px;
}


.fa-envelope {
	color: #f39c12;
}

.fa-envelope-open {
	color: #bdc3c7;
}

#Retour {
	border-bottom: 1px solid #2c3e50;
}

.message {
	background-color: grey;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 0 10px;
	background-color: rgba(0,0,0,.15);
}

#boite_de_texte {
	margin: 15px 0;
}