body {
	background-color: #34495e;
	color: #ecf0f1;
}

a {
	display: block;
	font-size: 25px;
	font-family: sans-serif;
	text-decoration: none;
	padding: 10px 0;
	color: #ecf0f1;
}

.blocked-container {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	background-color: #34495e;
	text-align: center;
	padding-top: 30vh;

}
#subscribe, .fa-star {
	color: #f1c40f;
}

.msg {
	font-size: 25px;
	font-family: sans-serif;
	padding:0 10px;
	padding-top: 0;
	padding-bottom: 90px;
	margin-top: -45px;
}


.fa-star {
	padding: 0 20px;
}

.fatoufe {
	font-size: 20px;
	position: relative;
	padding-right: 10px;
	top: -3px;
}