body {
	font-family: Arial;
	background-color: white;
}

#avatarpic {
	margin-top: 20px;
	width:75px;
	height: 75px;
	border-radius: 50px;
	-moz-box-shadow: 0px 0px 10px #343434;
	-webkit-box-shadow: 0px 0px 10px #343434;
	-o-box-shadow: 0px 0px 10px #343434;
	box-shadow: 0px 0px 10px #343434;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}

.section_info {
	margin-top: 40px;
	font-size: 20px;
	font-family: sans-serif;
}

.voirprojet {
	text-decoration: none;
	color: blue;
}

.lemail {
	color: black;
	text-decoration: none;
}

@media all and (min-width: 243px) and (max-width: 245px) {
	/*huawei*/
	#contnr {
		margin-top: 15%;
	}
	#contnr>h2 {
		font-size: 25px;
	}
	#avatarpic {
		width: 50px;
		height: 50px;
		border-radius: 65px;
		margin-top: 0;
	}
	.section_info {
		font-size: 15px;
	}
	html {
		overflow: hidden;
	}
}

@media all and (min-width: 539px) and (max-width: 960px) {
	/*crosscall*/
	#contnr {
		margin-top: 23%;
	}
	#contnr>h2 {
		font-size: 60px;
	}
	#avatarpic {
		width: 125px;
		height: 125px;
		border-radius: 65px;
	}
	.section_info {
		font-size: 30px;
	}
}