.inepoute {
	margin-bottom: 7.5px;
	background-color: #ECF0F1;
	border: 2px solid transparent;
	border-radius: 3px;
	font-size: 16px;
	font-weight: 200;
	padding-top: 10px 0;
	width: 250px;
	transition: border .5s;
}

.inepoute:focus {
	border: 2px solid transparent;
	border-shadow: none;
}

.centerholder {
	text-align: center;
}


/*CENTRE UNIQUEMENT LE PLACEHOLDER_START*/
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
/*CENTRE UNIQUEMENT LE PLACEHOLDER_END*/

.ideaenvoi {
	margin-top: 10px;
	-moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background-color:#2dabf9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.ideaenvoi:hover {
	background-color:#0688fa;
}
.ideaenvoi:active {
	position:relative;
	top:1px;
}

.ideaform {
	width: 250px;
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
}

#viewArticle {
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
	margin-left: calc((100% - 250px) / 2);
	margin-top: 10px;
}

.login-link {
	font-size: 12px;
	color: #444;
	display: block;
	margin-top: 12px;
}

.inepoute {
	margin-bottom: 7.5px;
	background-color: #ECF0F1;
	border: 2px solid transparent;
	border-radius: 3px;
	font-size: 16px;
	font-weight: 200;
	padding-top: 10px 0;
	width: 250px;
	transition: border .5s;
}

.inepoute:focus {
	border: 2px solid transparent;
	border-shadow: none;
}

textarea {
	resize: vertical;
	min-height: 150px;
	max-height: 200px;
}

@media all and (min-width: 243px) and (max-width: 245px) {
	/*huawei*/
	.ideaform {
		margin-top: 20px;
		width: 100%;
	}
	.inepoute {
		width: 215px;
	}
	#viewArticle {
		width: 90%;
		margin: 10px auto;
	}
}

@media all and (min-width: 539px) and (max-width: 541px) {
	/*crosscall*/
	h2 {
		font-size: 48px;
	}
	.ideaform {
		margin-top: 130px;
		width: 100%;
	}
	.inepoute {
		width: 90%;
		font-size: 30px;
	}
	#viewArticle {
		width: 90%;
		margin: 10px auto;
	}
	.ideaenvoi {
		font-size: 32px;
	}
}