@import url(reset.css);

body {
	background-color: #34495e;
	color: #ecf0f1;
}


.conteneur-shoutbox {
	text-align: center;
}

.conteneur-shoutbox-form {
	position: absolute;
	bottom: 0;
}

input, textarea {
	background-color: #2c3e50;
	border: none;
	border-radius: 5px;
	margin: 2.5px;
}

.conteneurAllmsg {
	background-color: #2c3e50;
	margin: 10px;
	border-radius: 10px;
	max-height: 380px;
	overflow-y: auto;
}