header {
	background: #2c3e50;
}

.conteneur-annonce {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	background-color: #34495e;
	text-align: center;
	padding-top: 35vh;color: #ecf0f1;
}

#subscribe, .fa-star {
	color: #f1c40f;
}

.msg-annonce {
	font-size: 25px;
	font-family: sans-serif;
	padding:0 10px;
	padding-top: 0;
	padding-bottom: 90px;
	margin-top: -45px;
	color: #ecf0f1;
}


.fa-star {
	padding: 0 20px;
}

#subscribe {
	display: block;
	font-size: 25px;
	font-family: sans-serif;
	text-decoration: none;
	padding: 10px 0;
}