header {
	background: #2c3e50;
	display: none;
}

.conteneur-annonce {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	background-color: #34495e;
	text-align: center;
	padding-top: 12vh;color: #ecf0f1;
}

#subscribe, .fa-star {
	color: #f1c40f;
}

.msg-annonce {
	font-size: 25px;
	font-family: sans-serif;
	padding:0 10px;
	padding-top: 0;
	padding-bottom: 90px;
	margin-top: -45px;
	color: #ecf0f1;
}

.fa-star {
	padding: 0 20px;
}

#subscribe {
	display: block;
	font-size: 25px;
	font-family: sans-serif;
	text-decoration: none;
	padding: 10px 0;
}

#avantages {
	font-size: 25px;
	padding-bottom: 20px;
	display: block;
}







.image_carouSub {
	width: 250px;
	height: auto;
}

@keyframes AutoSlide {
	0%, 10%, 100% {
		left: 0px; /*1ère image*/
	}
	20%, 30% {
		left: -250px; /*2ème image*/
	}
	40%, 50% {
		left: -500px; /*3ème image*/
	}
	60%, 70% {
		left: -750px; /*4ème image*/
	}
	80%, 90% {
		left: -1000px; /*5ème image*/
	}
}

#slideshow {
	position: relative;
	width: 250px;
	height: 250px;
	margin:  20px auto;
	overflow: hidden;
}

#sContent li {
	display: inline;
}

#sContent {
	position: absolute;
	top: 0;
	left: 0;
	width: 1250px;
	margin: 0;            
	padding: 0;
	
	/*CSS3 keyframes animation*/
	animation-name: AutoSlide;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}