#contenu_page {
	width: 100%;
	overflow: hidden;
	text-align: center;
	color: #ecf0f1;
}

body {
	background-color: #34495e;
}

#transfertH2 {
	margin-top: 45px;
	margin-bottom: 65px;
}

#envoi_soutien {
	margin-bottom: 40px;
}

.centerholder {
	text-align: center;
}

.login-link {
	font-size: 12px;
	color: #444;
	display: block;
	margin-top: 12px;
}

.ideaenvoi {
	margin-top: 30px;
	-moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background-color:#2dabf9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #444;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.ideaenvoi:hover {
	background-color:#0688fa;
}
.ideaenvoi:active {
	position:relative;
	top:1px;
}

/*CENTRE UNIQUEMENT LE PLACEHOLDER_START*/
::-webkit-input-placeholder {
   text-align: center;
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center; 
   font-style: italic; 
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
   font-style: italic;  
}

:-ms-input-placeholder {  
   text-align: center; 
   font-style: italic;
}
/*CENTRE UNIQUEMENT LE PLACEHOLDER_END*/

.inepoute {
	background-color: #ECF0F1;
	border: 2px solid transparent;
	border-radius: 3px;
	font-size: 16px;
	font-weight: 200;
	padding-top: 10px 0;
	width: 250px;
	transition: border .5s;
}

.inepoute:focus {
	border: 2px solid transparent;
	border-shadow: none;
}